.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f8fa;
    font-family: Arial, sans-serif;
  }
  
  .auth-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  .auth-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-box input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-box button {
    padding: 10px 15px;
    background-color: #da8e1d;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-box button:hover {
    background-color: #da8e1d;
  }
  
  .toggle-text {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .toggle-text span {
    color: #da8e1d;
    cursor: pointer;
    font-weight: bold;
  }
  